<a href="https://colab.research.google.com/github/tushar2704/Data-Science-Master/blob/main/Titanic_submission_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#by #github.com/tushar2704,kaggle.com/tusharaggarwal27, linkedin.com/in/tusharaggarwalinseec

# The challenge

The competition is simple: we want you to use the Titanic passenger data (name, age, price of ticket, etc) to try to predict who will survive and who will die.

In [13]:
pip install lazypredict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lazypredict in /usr/local/lib/python3.8/dist-packages (0.2.12)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from lazypredict) (1.2.0)
Requirement already satisfied: lightgbm in /usr/local/lib/python3.8/dist-packages (from lazypredict) (2.2.3)
Requirement already satisfied: xgboost in /usr/local/lib/python3.8/dist-packages (from lazypredict) (0.90)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from lazypredict) (7.1.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from lazypredict) (1.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from lazypredict) (4.64.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from lazypredict) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from lightgbm->lazypredict) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from lightgbm->lazypredict) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->lazypredict) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->lazypredict) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->lazypredict) (3.1.0)

In [39]:
# Data manipulation imports
import numpy as np
import pandas as pd

# Visualization imports
import matplotlib.pyplot as plt
import plotly.express as px

#Additional
import warnings
warnings.filterwarnings('ignore')

# Modeling imports
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay
import lazypredict
from lazypredict.Supervised import LazyClassifier

In [15]:
#loading train_data
titanic_data = pd.read_csv("/content/train (2).csv")
titanic_data.head(11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.46,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.86,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.07,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.13,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.07,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.70,G6,S

In [16]:
#loadding test_data
titanic_test = pd.read_csv("/content/test.csv")
titanic_test.head(), titanic_test.shape

(   PassengerId  Pclass                                          Name     Sex  \
 0          892       3                              Kelly, Mr. James    male
 1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
 2          894       2                     Myles, Mr. Thomas Francis    male
 3          895       3                              Wirz, Mr. Albert    male
 4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

     Age  SibSp  Parch   Ticket  Fare Cabin Embarked
 0 34.50      0      0   330911  7.83   NaN        Q
 1 47.00      1      0   363272  7.00   NaN        S
 2 62.00      0      0   240276  9.69   NaN        Q
 3 27.00      0      0   315154  8.66   NaN        S
 4 22.00      1      1  3101298 12.29   NaN        S  , (418, 11))

In [17]:
#Checking pattern for women
women = titanic_data.loc[titanic_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [18]:
#Checking pattern for men
men = titanic_data.loc[titanic_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of women who survived:", rate_men)

% of women who survived: 0.18890814558058924

In [47]:
from sklearn.ensemble import RandomForestClassifier

y = titanic_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(titanic_data[features])
X_test = pd.get_dummies(titanic_test[features])

model = RandomForestClassifier(n_estimators=101, max_depth=5, random_state=123)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': titanic_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

2nd submission

In [24]:
#checking X & y shape
X.shape, y.shape

((891, 5), (891,))

In [25]:
#making training and tests sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42, stratify=y)

In [28]:
#checking for set's shape
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((596, 5), (295, 5), (596,), (295,))

In [30]:
#model instance
all_sup_model = LazyClassifier(verbose=0, ignore_warnings=True,custom_metric=None)

In [31]:
#fitting
models, predictions = all_sup_model.fit(X_train, X_test, y_train, y_test)

100%|██████████| 29/29 [00:01<00:00, 16.55it/s]

In [36]:
models.reset_index()

,Model,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
0,GaussianNB,0.81,0.78,0.78,0.81,0.02
1,LogisticRegression,0.81,0.78,0.78,0.80,0.02
2,AdaBoostClassifier,0.80,0.78,0.78,0.80,0.12
3,CalibratedClassifierCV,0.80,0.78,0.78,0.80,0.17
4,NuSVC,0.80,0.78,0.78,0.80,0.03
5,LinearSVC,0.80,0.77,0.77,0.79,0.05
6,RidgeClassifierCV,0.79,0.77,0.77,0.79,0.01
7,RidgeClassifier,0.79,0.77,0.77,0.79,0.03
8,LinearDiscriminantAnalysis,0.79,0.77,0.77,0.79,0.04
9,PassiveAggressiveClassifier,0.79,0.77,0.77,0.79,0.02
10,BernoulliNB,0.78,0.76,0.76,0.78,0.02
11,NearestCentroid,0.78,0.76,0.76,0.78,0.01
12,XGBClassifier,0.77,0.74,0.74,0.76,0.19
13,KNeighborsClassifier,0.77,0.74,0.74,0.77,0.04
14,Perceptron,0.76,0.74,0.74,0.76,0.01
15,LGBMClassifier,0.77,0.74,0.74,0.76,0.06
16,SVC,0.77,0.74,0.74,0.76,0.03
17,LabelPropagation,0.76,0.73,0.73,0.76,0.09
18,SGDClassifier,0.78,0.73,0.73,0.77,0.01
19,BaggingClassifier,0.76,0.73,0.73,0.76,0.04
20,ExtraTreesClassifier,0.76,0.73,0.73,0.75,0.34
21,DecisionTreeClassifier,0.76,0.73,0.73,0.75,0.02
22,RandomForestClassifier,0.76,0.73,0.73,0.75,0.17
23,LabelSpreading,0.76,0.73,0.73,0.75,0.07
24,ExtraTreeClassifier,0.76,0.73,0.73,0.75,0.02
25,QuadraticDiscriminantAnalysis,0.69,0.70,0.70,0.70,0.03
26,DummyClassifier,0.62,0.50,0.50,0.47,0.02

In [48]:
#After checking using Logistic Regression for 2 submission without para tuning

logreg = LogisticRegression()

logreg.fit(X, y)

LogisticRegression()

In [49]:
predictions_2 = logreg.predict(X_test)
predictions_2.shape

(418,)

In [50]:
output = pd.DataFrame({'PassengerId': titanic_test.PassengerId, 'Survived': predictions_2})
output.to_csv('submission_2.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!